name: Tests

on:
  push:
    branches: [ "main", "InWork" ]

jobs:
  build_linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install unittest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Running tests
      run: python3 -m unittest discover -s tests
      
  build_windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install unittest
        if (Test-Path requirements.txt) { pip install -r requirements.txt }
    - name: Running tests
      run: python3 -m unittest discover -s tests
